@model IEnumerable<PruebaTecnica.Models.Persona>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
        @ViewBag.SuccessMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="error-alert">
        @ViewBag.ErrorMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<h2>Lista de Personas</h2>

<p>
    @Html.ActionLink("Crear Nueva Persona", "Create")
</p>

<br />
<br />

<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Identificador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoIdentificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroIdentificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Identificador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoIdentificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroIdentificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Identificador })
            </td>
            <td>
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Identificador })
            </td>
        </tr>
    }

</table>
